.schedules__main--container {
  border: 1px dashed black;
  width: 90%;
  height: 90%;
  background-position: center;
  background-color: $color-background;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;

  .schedules__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .schedules__header {
      padding-top: 25px;
      padding-bottom: 2px;
      width: 100%;
      height: auto;
      border-bottom: 2px solid rgba(91, 96, 95, 0.4);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .main__title {
        color: #ff6600;
        font-size: 24px;
        font-weight: 600;
      }
      .icon__plus {
        color: rgb(70, 137, 102);
        cursor: pointer;

        a {
          color: inherit;
        }
      }
    }
    .second__schedules--header {
      margin-top: 10px;

      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid rgba(91, 96, 95, 0.4);
      border-bottom: 1px solid rgba(91, 96, 95, 0.4);
      font-size: 20px;
      font-weight: 600;

      #selector {
        width: 5%
      }
      #schedule__name {
        width: 20%
      }
      #description {
        width: 60%;
      }
      #week {
        width: 10%;
      }
    }

    .main__schedule--text {
      line-height: 1.5;
      height: 120px;
      border: none;
      overflow: hidden;
      resize: none;
      background: inherit;
      font-family: $font-text;
      width: 20%;
    }

    .schedule__list {
      width: 100%;
      height: 100%;
      display: flex;
      font-size: 16px;
      overflow-y: scroll;

      ol {
        width: 100%;
        list-style: none;
        color: #a1a194;
        display: flex;
        flex-direction: column;
        counter-reset: list-item;
      }

      li {
        display: flex;
        position: relative;
        border-bottom: 1px solid rgba(91, 96, 95, 0.4);
        padding-top: 15px;
        padding-bottom: 15px;
        counter-increment: list-item;

        &::before {
          content: counter(list-item) " ";
          text-align: left;
          width: 5%;
        }
      }

      .schedule__text {
        font-size: 14px;
        line-height: 1.5;
        height: 120px;
        resize: none;
        background: inherit;
        border: none;
        overflow: hidden;
        font-family: $font-text;
        width: 60%;
      }

      .schedule__week{
        font-size: 14px;
        line-height: 1.5;
        height: 120px;
        resize: none;
        background: inherit;
        border: none;
        overflow: hidden;
        font-family: $font-text;
        width: 10%;
      }
      .schedule__icons {
        display: flex;
        gap: 10px;
        cursor: pointer;
      }
    }
  }
}
