// fonts import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

// colors
$color-sidebar-navi: #5B605F;
$color-header-column-text: #4a4a49;
$color-buttons-highlights-header-screen: #FF6600;
$color-background: #FFFFFA;
$color-message-info: #3498DB;
$color-message-warning: #FFB03B;
$color-message-success: #468966;
$color-icon-bin: #BD4932;
$color-text-icons: #A1A194;
$color-text-app: white;

// fonts
$font-text: 'Open Sans', sans-serif;
$font-logo: 'Charmonman', cursive;
$font-size-base: 14px;



